#config.cfg
# 
#Project: Close-o-matic - Terri Talton 2025

#These are the messages to be read out and the time offset for each
[messages]
-30 = "the time is now $now .  The dungeon is closing in $minutes minutes."
-15 = "the time is now $now .  The dungeon is closing in $minutes minutes. Please begin winding down."
-10 = "the time is now $now .  The dungeon is closing in $minutes minutes. Please be wrapping up."
-5 = "the time is now $now .  The dungeon is closing in $minutes minutes. Please be packing up."
0 = "Sadistic Engineering and Frolicon would like to thank you for coming to the dungeon tonight. Please note that the dungeon is now closed.  Please join us again next time."
5 = "We closed $minutes minutes ago! Why are you still here? It's time to go somewhere else!"

#General audio settings and pre-sets
[audio]
speaker = 72  #Current master volume
mic = 80  #Current input volume
micmin = 0  #Volume to lower input to when announcements are made
fadetime = 3  #Time in seconds for fade up and fade down of volume before and after announcements
mute_on = True #TODO Figure out what this mute on is for
speaker_unmute = 48 #TODO Figure out what speaker unmute number is for
test_audio = "testing 1 2 3" #Announcement to be made on press of test audio button

#Number of events to pull from the offline file
[events]
num_events = 10  #Number of events to pull
refresh_interval = 3600  #TODO Figure out what refresh interval is
next_alarm = "2017-04-03 19:55:00 "  #Next scheduled alarm date and time

#Logging level
[logging]
level = DEBUG  #Logging level

#This is the playlist to be started at actual party close time
[playlists]
source = /home/pi/app/usb1/
close = 01 So Long Farewell.mp3, chl-lastwords.mp3, 03 - Jingle Bells - Singing Dogs - Dr. Demento Presents the Greatest Christmas Novelty CD of All Time.mp3, barney.mp3, 01 Lester Flatt & Earl  - Foggy Mountain Breakdown.mp3, Da_Vincis_Notebook-Enormous_Penis - Copy.mp3, Dr Demento - Cows With Guns (Hilarious).mp3, 10 Riddle Me This - I'm A Cow.mp3